{% extends '../admin/base_admin.html.twig' %}

{% block title %}Event index{% endblock %}

{% block content %}
    <h1>Event index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>ConfirmationNeeded</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>RegistrationOpeningDate</th>
                <th>RegistrationClosingDate</th>
                <th>ImageName</th>
                <th>PublicLocation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.name }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.confirmationNeeded ? 'Yes' : 'No' }}</td>
                <td>{{ event.startDate ? event.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.endDate ? event.endDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.registrationOpeningDate ? event.registrationOpeningDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.registrationClosingDate ? event.registrationClosingDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.imageName }}</td>
                <td>{{ event.publicLocation ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_event_show', {'id': event.id}) }}">show</a>
                    <a href="{{ path('app_event_edit', {'id': event.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_event_new') }}">Create new</a>
{% endblock %}
