{% set currentPath = app.request.attributes.get('_route') %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Montisgal Events</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {{ currentPath == 'app_home' ? 'active' : '' }}" aria-current="page"
                       href="{{ path('app_home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ currentPath == 'app_user_index' ? 'active' : '' }}" aria-current="page"
                       href="{{ path('app_user_index') }}">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ currentPath == 'app_event_group_index' ? 'active' : '' }}" aria-current="page"
                       href="{{ path('app_event_group_index') }}">Groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ currentPath == 'app_location_index' ? 'active' : '' }}" aria-current="page"
                       href="{{ path('app_location_index') }}">Locations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ currentPath == 'app_event_index' ? 'active' : '' }}" aria-current="page"
                       href="{{ path('app_event_index') }}">Events</a>
                </li>
            </ul>
        </div>
    </div>
</nav>